@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
    background-color: #FFFFFF;
}

/* Шапка */

.page-header {
    color: #000000;
    background: #FFFFFF;
    margin-bottom: -5px;
}
.navigation { 
    display: grid;
    width: 1200px;
    margin: 0 auto;
    
}
.header-navigation {
    display: flex;
    margin: 0 70px;
}
.navigation-logo {
    display: flex;
    position: relative;
    z-index: 1;
    margin-right: 47px;
}
.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    padding: 0; 
    margin: 0;
    list-style: none;
}
.navigation-item {
    display: flex;
    justify-content: space-between
}
.navigation-link {
    display: block;
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    padding-top: 20px;
    margin-right: 35px;
    letter-spacing: -2px;
  }
  .navigation-sign {
    display: block;
    margin: 0;
    padding-top: 16px;
  }
  .button-here {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #756257;
    text-align: center;
    margin-top: 14px;
    padding-top: 9px;
  }
  .navigation-user {
    max-width: 430px;
    margin-left: auto;
  }
  .logo-search {
    margin-right: 23px;
  }
  .logo-like {
    margin-right: 33px;
  }

  /* Главная */

.main-index {
    width: 1200px;
    margin: 0 auto;
    color: #000000;
    background: #FFFFFF; 
}
.logo-sedona {
    position: relative;
    margin-top: 51px;
    margin-bottom: 10px;
}

.index-background {
    position: relative;
    background-image: url("../images/index-background.jpg");
    width: 1200px;
    height: 485px;
    margin: auto;
    margin-bottom: 63px;
    text-align: center;
    
}
.index-background:before {
    content: "";
    
    background: url("/images/background-arrow.svg") no-repeat;
}
.main-title {
    margin-top:0;
}
.advantages-title {
    margin: 0 230px 34px 230px;
    font-size: 26px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;

}
.advantages-description {
    margin: 0;
    font-size: 21px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 59px;;
}
/* Причины */

.visit-reasons {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-bottom: 70px;
}
.logo {
    padding:0;
}
.reasons-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.reason-city {
    display: flex;
    background: #83B3D3;
    text-align: center;
}
.reason-1 {
    
}
.topic {
    word-wrap: inherit;
    width: 200px;
    font-size: 21px;
    line-height: 28px;
    max-height: 56px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 97px 0 0 100px;
    margin-bottom: 30px;
}
.number {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}
.reason-2 {
    display: flex;
    flex-direction: column;
}
.description-main {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    padding: 0 84px
}
.advantage-1 {
    display: flex;
    flex-wrap: nowrap;
    height: 384px;
}
.reason {
    text-transform: uppercase;
    padding-top: 89px;
    margin-bottom: 14px;
}
.topic-advantage {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 22px;
}
.description-main-hotel {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0 110px;
}
.description-main-hamburger {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0 50px;
}
.description-main-gift {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0 80px;
}
.hotel {
    width:400px;
    text-align: center;
    background: rgba(131, 179, 211, 0.12);
}
.hamburger {
    text-align: center;
    width:400px;
}
.gift {
    text-align: center;
    width:400px;
    background: rgba(131, 179, 211, 0.12);
}
.reason-bridge {
    display: flex;
    flex-wrap: nowrap;
    background: #83B3D3;
}
.advantage-2 {
    display: flex;
    flex-wrap: nowrap;
    height: 384px;
}
.reason-area {
    width:400px;
    background:rgba(131, 179, 211, 0.12);
}
.reason-road {
    width:400px;
    background: rgba(131, 179, 211, 0.2);
}
.reason-few-tourists{
    width:400px;
    background: rgba(131, 179, 211, 0.12);
}


/* Поиск отеля */  

.search-hotels {
    width: 1200px;
    height: 324px;
    text-align: center;
}
.interest {
    font-size: 27px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;
    padding: 0 240px;
    letter-spacing: inherit;
}
.search-hotels-description {
    font-size: 22px;
    line-height: 26px;
    margin: 0 240px;
    margin-bottom: 52px;
    text-align: center;
}
.button-search-hotels {
    display: inline-block;
    padding-top: 20px;
    width: 575px;
    height: 45px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    background: #756257;
    text-align: center;
    border-radius: 10px;
}

/* Подвал */

.subscription {
    background-image: url("../images/background-subscription.jpg");
    width: 1200px;
    height: 317px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
    padding-top: 94px;
}
.subscription-header {
    font-size: 27px;
    line-height: 36px;
    text-transform: uppercase;
    color: white;
    margin: 0;
    margin-bottom: 29px;
}
.subscription-description {
    width: 720px;
    margin: 0 auto;
    margin-bottom: 42px;
}
.subscription-email {
   
}
.input-email {
    display: inline-block;
    padding: 10px 22px;
    width: 546px;
    height: 30px; 
    border-radius: 10px 0 0 10px;
}
.subscription-catalog {
    background-color: #FFFFFF;
    width: 800px;
    height: 241px;
    margin: auto;
}
.subscription-distribution-case {
    width: 720px;
    height: 36px;
    text-align: center;
    margin: auto;
}
.subscription-distribution-header {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 46px;
}
.subscription-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.subscription-button {
    font-size: 20px;
    line-height: 26px;
    width: 200px;
    height: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    background: #83B3D3;
    text-align: center;
    margin-left: -8px;
    border-radius: 0  10px 10px 0;
}
.footer-social {
    width: 1200px;
    padding-top: 42px;
}
.framework-filter-title {
    font-size: 20px;
    line-height: 26px;
}
.control-input {
    font-size: 18px;
    line-height: 24px;
    color: black
}
.button-subscription {
    width: 200px;
    height: 60px;
    font-size: 20px;
    line-height: 26px;
    color:#FFFFFF;
    background: #83B3D3;
    text-transform: uppercase;
}
.value {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background: #FFFFFF;
}
.rating {
    font-size: 16px;
    line-height: 21px;
    color: #333333;
    background: #F2F2F2;
}
.footer-social {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-social-list {
    display: flex;
    margin: 0 140px 0 72px;
    padding: 0;
    width: 107px;
    list-style: none;
}
.footer-social-item {
    
}
.logo-footer {
    margin-right: 29px;
}
.footer-contacts-address-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    width: 400px;
}
.about-text {
    width: 115px;
    margin-right: 144px;
    margin-top: auto;
    margin-bottom: auto;
}
.logo-html {
    padding-left: 70px;
}

/* Каталог фильтр*/

.inner {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
    width: 1200px;
}
.options-hotels {
    background-image: url("../images/catalog-background.jpg");
    width: 1200px;
    height: 408px;
    text-align: center;
    margin-bottom: 44px;
}
.inner-header-title {
    font-size: 51px;
    line-height: 78px;
    height: 69px;
    text-align: left;
    color:white;
    margin: 0;
    padding-top: 38px;
    padding-left: 70px;
}
.breadcrumbs {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    padding-left: 73px;
    margin-bottom: 45px;
}
.breadcrumbs-item {
    font-size: 16px;
    line-height: 21px;
    color: white;
    text-align: left;
}
.breadcrumbs-link {
    height: 408px;
    width: 1200px;
}
.logo-home {
    margin-right: 8px;
}
.logo-arrow {
    margin-right: 10px;
    text-decoration: none;
}
.framework-filter-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 71px;
    list-style: none;
    padding: 0;
    border: none;
    margin-right: 67px;
}
.filter-title {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -1px;
    padding: 0;
    margin-bottom: 20px;
}
.shelter-filter-list {
    margin: 0;
    padding-left: 25px;
}
.shelter-filter-group {
    padding: 0;
    border: none;
}
.shelter-filter-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
}
.price-filter-group {
    margin-right: 81px;
    padding: 0;
    border: none;
}
.hostels-catalog {
    font-size: 14px;
    line-height: 21px;
    color: white;
}
.name-hotel {
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    background: #FFFFFF;
    text-decoration: none;
}
.catalog-filter {
    display: flex;
    max-height: 767px;
}
.filter-title {
    font-size: 20px;
    line-height: 26px;
    color: white;
}
.control {
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.apply-reset {
    width: 48px;
}
.button-apply {
    font-size: 16px;
    line-height: 21px;
    height: 48px;
    width: 160px;
    color: #FFFFFF;
    background: #83B3D3;
    text-align: center;
}
.button-reset {
    font-size: 18px;
    line-height: 23px;
    height: 23px;
    width: 160px;
    color: #FFFFFF;
    background: none;
    border: none;
    
}

/* Каталог результаты */

.result-hotels {
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    margin: 0 192px 0 72px ;
}
.filter-results {
    display: flex;
}
.select-control {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background: #FFFFFF;
    width: 287px;
    height: 48px;
    margin-bottom: 53px;
}
.directory-filter {
    margin-top: 44px;
}
.result {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 18px;
    list-style: none;
}
.hotel-card {
    padding: 20px;
}
.hotel-card:nth-child(3) {
    margin-right: 0;
}
.load-more {
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
    background: #83B3D3;
    border: 1px solid #83B3D3;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 620px;
    height: 60px;
    margin-left: 290px;
    padding: 0;
}
.load-more-border {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 30px;
    margin-bottom: 30px;
    margin-left: 72px;
    margin-right: 72px;
}
.pagination-wraper {
    display: flex;
    flex-wrap: nowrap;
}
.pagination {
    display: grid;
    grid-template-columns: repeat(6, 55px);
    width: 670px;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin-left: 72px;
}
.pagination-item {
    background: #83B3D3;
    width: 55px;
    height: 55px;
    margin-right: 8px;
    align-items: center;
    text-align: center;
    
}
.pagination-link {
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    
}
.pagination-item-black {
    width: 55px;
    height: 55px;
    background: #F2F2F2;
    border-radius: 4px;
    margin-right: 8px;
    text-align: center;
}
.pagination-current {
    font-size: 20px;
    line-height: 26px;
    color:#000000;
}
.hotels-page {
    font-size: 18px;
    line-height: 23px;
    color:#000000;
    padding-top: 30px;
    margin: 0;
    margin-right: 50px;
}
.select-control-amount {
    width: 160px;
    height: 48px;
    
}
.subscription-catalog {
    width: 1200px;
    height: 317px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;

}

/* Текст */

.white {
    color: #FFFFFF;
}
.black {
    color: #000000;
}
.description {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0 75px;
}
.button {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background: #FFFFFF;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }