@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin: 0 auto;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 36px;
    color: #000000;
    background-color: #FFFFFF;
}

/* Шапка */

.page-header {
    color: #000000;
    background: #FFFFFF;
    margin-bottom: -5px;
}
.navigation { 
    display: grid;
    width: 1200px;
    margin: 0 auto;
}
.header-navigation {
    display: flex;
    margin: 0 70px;
}

.navigation-logo {
    display: flex;
    position: relative;
    z-index: 1;
    margin-right: 47px;
}
.navigation-logo + .navigation-list {
    margin-right: 276px;
}
.logo {
    padding: 0;
}
.navigation-list {
    display: flex;
    flex-wrap: wrap; 
    height: 65px;
    width: 345px;
    padding: 0; 
    margin: 0;
    list-style: none;
}
.navigation-list+.navigation-user {
    margin: 0;
    width: 264px;
}
.navigation-sign {
    min-width: 18px;
    min-height: 18px;
    padding-top: 16px;
    margin-right: 22px;
}
.search {
    fill:#000000;
}
.search:hover {
    fill:#756257;
}
.search:active {
    fill:#e5e5e5;
}
.follow {
    fill:#000000;
}
.follow:hover {
    fill:#756257;
}
.follow:active {
    fill:#e5e5e5;
}
.navigation-user {
    max-width: 430px;
    margin-left: auto;
}
.navigation-user .navigation-item:nth-child(1) .navigation-sign {
    display: block;
    font-weight: 700;
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}
.navigation-user .navigation-item:nth-child(2) .navigation-sign {
    margin-right: 32px;
}
.navigation-item {
    display: flex;
}
.navigation-item:nth-child(3n) .navigation-link {
    margin: 0;
}
.navigation-link {
    display: block;
    font-family: "PT Sans", sans-serif;
    height: 45px;
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    text-align: center;
    color: #000000;
    background-color: #ffffff;
    text-decoration: none;
    padding-top: 20px;
    margin-right: 34px;
}
.navigation-link:hover  {
    color: #756257;
}
.navigation-link:focus {
    box-shadow: inset 0 -5px 0 #615048;
}
.navigation-link:active {
    color: #e5e5e5;
}
.button-here {
    font-size: 16px;
    line-height: 20px;
    width: 160px;
    height: 28px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
    background: #756257;
    text-align: center;
    margin-top: 14px;
    padding-top: 9px;
    border-radius: 4px;
}
.button-here:hover {
    background-color: #615048;
}
.button-here:focus {
    box-shadow: 0 0 0 3px #83B3D3;
}
.button-here:active {
    color: #756257;
    background-color: #615048;
}

 /* Главная */

.main-index {
    width: 1200px;
    margin: 0 auto;
    color: #000000;
    background: #FFFFFF; 
}
.logo-sedona {
    position: relative;
    margin-top: 51px;
    margin-bottom: 10px;
}

.index-background {
    position: relative;
    background-image: url("../images/index-background.jpg");
    width: 1200px;
    height: 485px;
    margin: auto;
    margin-bottom: 63px;
    text-align: center;
}
.index-background::after {
    position: relative;
    top: 5px;
    content: url(../images/background-arrow.svg);
}
.main-title {
    margin-top:0;
}
.advantages-title {
    margin: 0;
    margin-bottom: 33px;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
}
.advantages-description {
    margin: 0;
    font-size: 22px;
    line-height: 32px;
    text-align: center;
    margin-bottom: 60px;;
}

/* Причины */

.visit-reasons {
    display: flex;
    flex-direction: column;
    width: 1200px;
    margin-bottom: 68px;
}
.reasons-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
}
.reason-city {
    display: flex;
    background: #83B3D3;
    text-align: center;
}
.reason-1 {
    width: 400px;
    margin: 0;
}
.topic {
    word-wrap: inherit;
    width: 200px;
    font-size: 24px;
    line-height: 28px;
    max-height: 56px;
    text-align: center;
    text-transform: uppercase;
    padding: 97px 0 30px 100px;
    margin: 0;
}
.number {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
    margin-bottom: 30px;
}
.description-main {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0;
}
.reason-2 {
    display: flex;
    flex-direction: column;
}
.advantage-1 {
    display: flex;
    flex-wrap: nowrap;
    height: 384px
}
.advantage-1 .hamburger .reason {
    margin-bottom: 16px;
}
.advantage-1 .gift .reason {
    margin-bottom: 11px;
}
.advantage-1 .gift .topic-advantage {
    margin-bottom: 19px;
}
.reason {
    text-transform: uppercase;
    padding-top: 87px;
    margin-bottom: 15px;
}
.topic-advantage {
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 22px;
}
.description-main-gift {
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0 80px;
}
.hotel {
    width:400px;
    text-align: center;
    background: rgba(131, 179, 211, 0.12);
}
.hamburger {
    text-align: center;
    width:400px;
}
.gift {
    text-align: center;
    width: 400px;
    background: rgba(131, 179, 211, 0.12);
}
.gift .topic-advantage{
    margin-bottom: 15px;
}
.reason-bridge {
    display: flex;
    flex-wrap: nowrap;
    background: #83B3D3;
}
.advantage-2 {
    display: flex;
    flex-wrap: nowrap;
    height: 384px;
}
.reason-area {
    width:400px;
    background:rgba(131, 179, 211, 0.12);
}
.reason-road {
    width:400px;
    background: rgba(131, 179, 211, 0.2);
}
.reason-few-tourists{
    width:400px;
    background: rgba(131, 179, 211, 0.12);
}
.input-email {
    
}

/* Поиск отеля */  

.search-hotels {
    width: 1200px;
    height: 326px;
    text-align: center;
}
.interest {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;
    padding: 0 240px;
    letter-spacing: inherit;
}
.search-hotels-description {
    margin:0;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 56px;
    text-align: center;
}
.button-search-hotels {
    display: inline-block;
    padding-top: 14px;
    width: 576px;
    height: 46px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 36px;
    font-weight: bold;
    text-decoration: none;
    color: #FFFFFF;
    background: #756257;
    text-align: center;
    border-radius: 10px;
}
.button-search-hotels:hover {
    background-color: #615048;
}
.button-search-hotels:focus {
    box-shadow: 0 0 0 3px #83B3D3;
}
.button-search-hotels:active {
    color: #756257;
    background-color: #615048;
}

/* Подвал */

.subscription {
    background-image: url("../images/background-subscription.jpg");
    width: 1200px;
    height: 317px;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0;
    margin-bottom: 40px;
    padding-top: 94px;

}
.subscription-header {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: white;
    margin: 0;
    margin-bottom: 28px;
}
.subscription-description {
    width: 720px;
    margin: 0 auto;
    margin-bottom: 43px;
    
}
.subscription-email {
   
}
.subscription-catalog {
    background-color: #FFFFFF;
    width: 800px;
    height: 241px;
    margin: auto;
    margin-bottom: 139px;
    
}
.subscription-distribution-case {
    width: 720px;
    height: 36px;
    text-align: center;
    margin: auto;
}
.subscription-distribution-header {
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 46px;
}
.subscription-description {
    font-size: 22px;
    line-height: 26px;
    text-align: center;
}
.button-email {
    display: inline-block;
    position: relative;
    top: 3px;
    left: 3px;
    background-color: #F2F2F2;
    width: 596px;
    height: 58px; 
    border: none;
    border-radius: 10px 0 0 10px;
    border-color:#F2F2F2
}
.button-email:hover {
    background-color: #e5e5e5;
}
.button-email:focus {
    box-shadow: inset 0 0 0 3px #83B3D3;
}
.button-email::placeholder {
    font-size: 18px;
    line-height: 26px;
    color:#000000;
    align-items: center;
    padding-left: 20px;
}
.subscription-button {
    position: relative;
    padding: 0;
    top: 4px;
    right: 3px;
    font-size: 17px;
    line-height: 26px;
    width: 200px;
    height: 60px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    background: #83B3D3;
    border: none;
    text-align: center;
    border-radius: 0 10px 10px 0;
}
.subscription-button:hover {
    background-color: #68a2c2;
}
.subscription-button:focus {
    box-shadow: inset 0 0 0 3px #615048;
}
.subscription-button:active {
    color:#e5e5e5;
    background-color: #68a2c2;
}
.subscription-button::placeholder {
    font-size: 20px;
    line-height: 26px;
}
.footer-social {
    width: 1200px;
}
.framework-filter-title {
    font-size: 20px;
    line-height: 26px;
}
.control-input {
    font-size: 18px;
    line-height: 24px;
    margin-right: 19px;
    color: black
}
.control-input-type {
    font-size: 18px;
    line-height: 24px;
    margin-right: 19px;
    color: black

}
.button-subscription {
    width: 200px;
    height: 60px;
    font-size: 20px;
    line-height: 26px;
    color:#FFFFFF;
    background: #83B3D3;
    text-transform: uppercase;
}
.value {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background: #FFFFFF;
}
.rating {
    display: inline-block;
    text-transform: uppercase;
    border-radius: 4px;
    margin: 0;
    font-size: 16px;
    line-height: 21px;
    width: 160px;
    height: 28px;
    color: #333333;
    background: #F2F2F2;
    text-align: center;
    padding-top: 9px;
}
.footer-social {
    display: flex;
    margin: 0 auto;
}
.footer-social-list {
    display: flex;
    margin: 0 255px 0 72px;
    padding: 0;
    width: 107px;
    list-style: none;
}
.footer-social-item {
    width: 40px;
    height: 40px;
    margin-right: 29px;
}
.button-social {
    fill:#83B3D3;
}
.button-social:hover {
    fill: #68a2c2;
}
.button-social:focus {
    box-shadow: inset 0 0 0 3px #83B3D3;
}
.button-social:active {
    color:#e5e5e5;
    background-color: #68a2c2;
}
.footer-contacts-address-phone {
    font-size: 40px;
    line-height: 40px;
    color: #000000;
    text-decoration: none;
    width: 335px;
    margin-right: 244px;
}
.footer-contacts-address-phone:hover {
    color:#756257;
}
.footer-contacts-address-phone:focus {
    color:#756257;
    box-shadow: inset 0 0 0 3px #83B3D3;
}
.footer-contacts-address-phone:active {
    color:#e5e5e5;
    box-shadow: none;
}
.about-text {
    width: 115px;
    margin-top: auto;
    margin-bottom: auto;
}
.logo-html {
    
}
.logo-html:hover {
    fill:#756257;
}
.logo-html:focus {
    fill:#756257;
    box-shadow: inset 0 0 0 3px #83B3D3;
}
.logo-html:active {
    fill:#e5e5e5;
    box-shadow: none;
}

/* Каталог фильтр*/

.inner {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    height: 100%;
    width: 1200px;
}
.options-hotels {
    background-image: url("../images/catalog-background.jpg");
    width: 1200px;
    height: 408px;
    text-align: center;
    margin-bottom: 44px;
}
.inner-header-title {
    font-size: 51px;
    line-height: 78px;
    height: 69px;
    text-align: left;
    color:white;
    margin: 0;
    padding-top: 38px;
    padding-left: 70px;
}
.breadcrumbs {
    display: flex;
    margin: 0;
    list-style: none;
    padding: 0;
    padding-left: 73px;
    margin-bottom: 45px;
}
.breadcrumbs-item {
    font-size: 16px;
    line-height: 21px;
    color: white;
    text-align: left;
}
.breadcrumbs-link {
    height: 408px;
    width: 1200px;
}
.logo-home {
    margin-right: 8px;
}
.logo-arrow {
    margin-right: 10px;
    text-decoration: none;
}
.framework-filter-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 71px;
    list-style: none;
    padding: 0;
    border: none;
    margin-right: 21px;
}
.filter-title-infrastructure {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -1px;
    padding: 0;
    padding-bottom: 22px;
    color: white;
}
.filter-title {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: -1px;
    padding: 0;
    padding-bottom: 29px;
    color: white;
}
.shelter-filter-list {
    margin: 0;
    
}
.shelter-filter-group {
    margin: 0;
    padding: 0;
    border: none;
}
.shelter-filter-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding-bottom: 12px;
}
.price-filter-group {
    margin-right: 81px;
    padding: 0;
    border: none;
}
.hostels-catalog {
    font-size: 14px;
    line-height: 21px;
    color: white;
}
.name-hotel {
    font-size: 24px;
    line-height: 31px;
    color: #000000;
    background: #FFFFFF;
    text-decoration: none;
}
.catalog-filter {
    display: flex;
    max-height: 767px;
}
.control {
    font-size: 18px;
    line-height: 24px;
    color: white;
}
.apply-reset {
    width: 48px;
}
.button-apply {
    font-size: 16px;
    line-height: 21px;
    height: 48px;
    width: 160px;
    color: #FFFFFF;
    background: #83B3D3;
    text-align: center;
    border-radius: 4px;
}
.button-reset {
    font-size: 18px;
    line-height: 23px;
    height: 23px;
    width: 160px;
    color: #FFFFFF;
    background: none;
    border: none;
}
.field {
    width: 143px;
    height: 48px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 4px;
}

/* Каталог результаты */

.result {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    gap: 18px;
    list-style: none;
    padding: 0 72px;
}
.filter-results {
    display: flex;
    margin-bottom: 73px;
}
.result-hotels {
    font-size: 30px;
    line-height: 39px;
    text-transform: uppercase;
    padding-top: 5px;
    margin: 0 192px 0 70px;
    letter-spacing: -2px;
}
.card-grid-toggle {
    width: 48px;
    height: 48px;
    border: 2px solid #e5e5e5;
    padding-left: 10px;
}
.select-control {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background: #FFFFFF;
    width: 287px;
    height: 48px;
    padding-left: 14px;
    letter-spacing: -1px;
}
.directory-filter {
    margin-top: 44px;
}

.hotel-card {
    padding: 0 20px 11px 20px;
}
.hotel-card:nth-child(4) {
    padding-top: 0;
}
.product-card-image {
    margin-bottom: 5px;
}
.name-hotel {
    font-size: 24px;
    line-height: 31px;
    margin: 0; 
    margin-bottom: 10px;
    letter-spacing: -1px;
}
.type-shelter {
    font-size: 18px;
    line-height: 23px;
    width: 133px;
    display: inline-block;
    letter-spacing: -1px;
    margin: 0 17px 14px 0;
}
.value {
    display: inline-block;
    margin: 0;
}
.button-brown {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    width: 133px;
    height: 28px;
    color: #FFFFFF;
    background: #756257;
    text-align: center;
    margin-right: 26px;
    padding-top: 9px;
}
.button-blue {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 21px;
    height: 28px;
    width: 141px;
    color: #FFFFFF;
    background: #83B3D3;
    text-align: center;
    padding-top: 9px;
}
.load-more {
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    background: #83B3D3;
    border: 1px solid #83B3D3;
    border-radius: 4px;
    text-align: center;
    text-transform: uppercase;
    width: 620px;
    height: 60px;
    padding: 0;
    margin-left: 188px;
}
.load-more-border {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 30px;
    margin-bottom: 28px;
    margin-left: 72px;
    margin-right: 72px;
}
.pagination-wraper {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 72px;
}
.pagination {
    display: grid;
    grid-template-columns: repeat(6, 55px);
    width: 670px;
    gap: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 72px;
}
.pagination-item {
    background: #83B3D3;
    border-radius: 4px;
    width: 55px;
    height: 45px;
    margin-right: 8px;
    align-items: center;
    text-align: center;
    padding-top: 12px;
}
.pagination-item:first-child {
    font-size: 20px;
    line-height: 26px;
    color:#000000;
    border-color: #F2F2F2;
}
.pagination-link {
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    
}
.hotels-page {
    font-size: 18px;
    line-height: 23px;
    color:#000000;
    margin: 0;
    margin-right: 50px;
    width: 200px;
}
.select-control-amount {
    width: 160px;
    height: 48px;
    margin-right: 81px;
}

/* Текст */

.white {
    color: #FFFFFF;
}
.black {
    color: #000000;
}
.description {
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    margin: 0 75px;
}
.button {
    font-size: 18px;
    line-height: 23px;
    color: #000000;
    background: #FFFFFF;
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }